In [1]:
import os
import re

In [2]:
file_list = []
for root, dirs, files in os.walk(os.path.abspath('.')):
    file_list.append(files)

In [3]:
list_name = file_list[0]

In [4]:
links = []
for i in list_name:
    if i.endswith(".json"):
        with open(i,"r") as f:
            text = f.read()
            temp_list = re.findall("\"(.*)\"", text)
            links += temp_list

In [5]:
len(links)

22957

In [6]:
num=0
new_list = []
for i in links:
    i.replace("\"", "")
    if num%3 == 0:
        new_list.append(i)
    num += 1

In [7]:
len(new_list)

7653

In [8]:
import pandas as pd
pd_links = pd.DataFrame(new_list)
pd_links.to_csv("links.csv")

In [9]:
pd_links

                                              0
0                        http://stock.cnfol.com
1                         http://www.cnfol.com/
2                        http://gold.cnfol.com/
3                       http://money.cnfol.com/
4                       http://video.cnfol.com/
...                                         ...
7648  http://industry.caijing.com.cn/index.html
7649    http://estate.caijing.com.cn/index.html
7650      http://life.caijing.com.cn/index.html
7651              http://column.caijing.com.cn/
7652         http://corp.caijing.com.cn/joinus/

[7653 rows x 1 columns]